<section>
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Ispiring person name</a>
    </div>
  </nav>


  <section class="features-icons text-black text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex"></div>
              
            </div>
            <h3><a href="about">About</a></h3>
            
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
             
            </div>
            <h3><a href="works">Works</a></h3>
         
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
            
            </div>
            <h3><a href="gallery">Gallery</a></h3>
         
          </div>
        </div>
      </div>
    </div>
  </section>
  </section>