<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Homepage</title>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Ispiring person</a>
    </div>
  </nav>

<header class="masthead text-black text-center">
    <div class="overlay"></div>
    <div class="container"></div>
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">A page about a person i admire</h1>
              </div>
            </div>
  </header>

  <section class="features-icons text-black text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex"></div>
              
            </div>
            <h3><a href="about">About</a></h3>
            
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
             
            </div>
            <h3><a href="works">Works</a></h3>
         
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
            
            </div>
            <h3><a href="gallery">Gallery</a></h3>
         
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>